.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  margin-top: 20px;
  text-align: center;
}

.searchInput {
  width: 35%;
}

.dataTable {
  width: 50% !important;
  margin: 0 auto;
}

.main {
  text-align: center;
  margin: 20px auto;
}

.MuiTableCell-root {
  text-align: center !important;
}

.today {
  margin-left: 5px;
}

.navStocks {
  text-align: center;
  margin: 0px 30px !important;
}
