.App {
  text-align: center;
}

body {
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  margin-top: 90px;
  text-align: center;
}

.searchInput {
  width: 35%;
}

.dataTable {
  width: 100% !important;
  margin: 0 auto;
  padding: 5px;
  min-height: 330px;
}

.buyRatingChart {
  min-height: 330px;
}

.main {
  text-align: center;
  margin: 20px auto;
}

.MuiTableCell-root {
  text-align: center !important;
}

.today {
  margin-left: 5px;
}

.navStocks {
  text-align: center;
  margin: 5px 25px !important;
  padding: 4px 20px;
  font-size: 12px !important;
  background: #272b44;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #070b27;
}

.MuiAppBar-colorPrimary {
  background-color: #0c1652 !important;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  margin-top: 200px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.negative {
  color: red;
  font-weight: bold;
}

.positive {
  color: green;
  font-weight: bold;
}

.MuiTableCell-root p {
  margin-bottom: 20px;
}

.MuiTableCell-root .tableClosingData {
  margin-bottom: 16px;
}

.addToPortfolio {
  margin-bottom: 25px;
}

.navbar-nav { 
  flex-direction: row !important;
}

.navbar-nav li { 
  margin: 0px 20px;
}

.nav-link {
  color: white !important;
  font-size: 18px;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.loader {
  position: absolute;
  margin: 15% 33%;
}

.profile {
  margin-top: 120px !important;
}

.newsImg { 
  width: 100%;
  height: 90px;
 }

.headline {
  text-align: left;
}

.buyRatingChart, .candlesChart, .dataTable { 
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #dadada;
  background: white;
  color: white;
}

.keyInfo { 
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #dadada;
  height: 500px;
  padding: 10px;
  background: white;
}

.news {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #dadada;
  background: white; 
  padding: 20px;
  margin-top: 20px !important;
}

.news .title {
  font-weight: 900;
  font-size: 18px;
}

.individualNews { 
  border-bottom: 1px solid #dcdbdb;
  padding: 25px 0px;
}

.individualNews p {
  text-align: left;
}

.individualData {
  justify-content: space-between;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.keyData {
  width: 80%; 
  margin: 0 auto;
  margin-top: 25px;
}

.companyName { 
  color: #295880;
  font-size: 23px;
  font-weight: bold;
 }

 .currentPrice {
   font-size: 20px;
   font-weight: bold;
 }

 .keyInfo .positive, .keyInfo .negative {
   font-size: 17px;
   font-weight: bold;
 }

 .leftKey { 
   font-style: italic;
   font-weight: bold;
   color: #295880;
  }

  .rightKey {
    font-weight: bold;
  }