.App {
  text-align: center;
}

body {
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  margin-top: 90px;
  text-align: center;
}

.searchInput {
  width: 35%;
}

.dataTable {
  width: 100% !important;
  margin: 0 auto;
  padding: 5px;
  min-height: 330px;
}

.dataTable th {
  font-weight: bold; 
  color: black;
  font-size: 15px;
  line-height: 2.0rem;
}

.buyRatingChart {
  min-height: 330px;
}

.main {
  text-align: center;
  margin: 20px auto;
}

.main .row:nth-of-type(2) {
  margin-top: 10px;
  margin-bottom: 15px;
}

.MuiTableCell-root {
  text-align: center !important;
}

.today {
  margin-left: 5px;
}

.navStocks {
  text-align: center;
  margin: 5px 25px 10px 25px !important;
  padding: 8px 20px 4px 20px;
  font-size: 12px !important;
  background: #161617;
  border-radius: 5px;
}

.MuiAppBar-colorPrimary {
  background-color: black !important;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  margin-top: 200px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card button {
  margin-top: 15px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.negative:-webkit-autofill::first-line {
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}

.positive {
  color: green;
  font-weight: bold;
}

.MuiTableCell-root p {
  margin-bottom: 20px;
}

.MuiTableCell-root .tableClosingData {
  margin-bottom: 16px;
}

.addToPortfolio {
  margin-bottom: 25px;
  font-weight: bold;
  background: #295887;
  padding: 5px 10px;
  border-radius: 21px;
  border: 1px solid #295887;
  box-shadow: 1px 2px 1px #173654;
  color: white;
}

.navbar-nav { 
  flex-direction: row !important;
}

.navbar-nav li { 
  margin: 0px 20px;
}

.nav-link {
  color: white !important;
  font-size: 18px;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
}

.profile {
  margin-top: 120px !important;
}

.newsImg { 
  width: 100%;
  height: 90px;
 }

.headline {
  text-align: left;
}

.headline:hover {
  text-decoration: underline;
}

.buyRatingChart, .candlesChart, .dataTable { 
  border: 1px solid #d8d8d8;
  border-radius: 5px !important;
  box-shadow: 2px 2px 2px #dadada !important;
  background: white;
  color: white;
}

.keyInfo { 
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #dadada;
  height: 500px;
  padding: 10px;
  background: white;
}

.news {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #dadada;
  background: white; 
  padding: 20px;
}

.news .title {
  font-weight: 900;
  font-size: 18px;
}

.individualNews { 
  border-bottom: 1px solid #dcdbdb;
  padding: 25px 0px;
}

.individualNews a {
  text-decoration: none;
}

.individualNews p {
  text-align: left;
  font-weight: bold;
}

.individualData {
  justify-content: space-between;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.keyData {
  width: 80%; 
  margin: 0 auto;
  margin-top: 25px;
}

.companyName { 
  color: #295880;
  font-size: 23px;
  font-weight: bold;
 }

 .currentPrice {
   font-size: 20px;
   font-weight: bold;
 }

 .keyInfo .positive, .keyInfo .negative {
   font-size: 17px;
   font-weight: bold;
 }

 .leftKey { 
   font-style: italic;
   font-weight: bold;
   color: #295880;
  }

  .rightKey {
    font-weight: bold;
  }

  .source {
    font-weight: bold;
  }

  .dateOfNews {
    font-style: italic;
    color:#295880;
    font-weight: 600;
  }

  .sideNavItem a { 
    text-decoration: none;
    color: #0c1652;
   }

  .sideNavItem a span { 
    font-weight: 600;
  }

  .mainSideNav {
    height: 77vh;
  }

  .register-or-login {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .searchInput {
      width: 65%;
    }
    .navStocks {
      text-align: center;
      margin: 3px !important;
      padding: 5px 6px;
      font-size: 8px !important;
      background: #161617;
      border-radius: 5px;
    }
    .container {
      width: 86% !important;
      padding: 0px !important;
    }

    .container > .row > div {
      padding-right: 0px !important;
      padding-left: 0px !important;
      margin: 10px auto;
    }
    .main .row:nth-of-type(2) {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .col-md-1, .col-md-2, .navStocks {
      display: none !important;
    }
    .register-or-login {
      display: block;
      text-align: center;
    }
    .register-or-login p {
      font-weight: bold;
    }
    .makeStyles-menuButton-4 {
      margin-right: 5px !important;
    }
    .MuiTableCell-sizeSmall {
      padding: 6px 6px 6px 6px !important;
      font-size: 12px !important;
    }

    .individualNews {
      padding: 25px 15px;
    }
    .newsImg {
      height: 160px;
    }
  }

  @media only screen and (max-width: 768px) {
    .col-md-1, .col-md-2, .navStocks {
      display: none !important;
    }
    .navStocks {
      margin: 5px 0px 10px 13px !important;
    }
  }

  @media only screen and (max-width: 1200px) {
    .navStocks {
      margin: 5px 0px 10px 10px !important
    }
  }



